<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/renovation/' %} active {% endif %}"><a href="{{ "/renovation/" | absolute_url }}">Renovation</a></li>
  <li class="{% if page.url contains '/new-building/' %} active {% endif %}"><a href="{{ "/new-building/" | absolute_url }}">New Building</a></li>
  <li class="{% if page.url contains '/commercial/' %} active {% endif %}"><a href="{{ "/commercial/" | absolute_url }}">Commercial</a></li>
  <li class="{% if page.url contains '/rendering/' %} active {% endif %}"><a href="{{ "/rendering/" | absolute_url }}">Rendering</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About Me</a></li>
  <li class="{% if page.url contains '/contact/' %} active {% endif %}"><a href="{{ "/contact/" | absolute_url }}">Contact</a></li>
</ul>
