<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/interior/' %} active {% endif %}"><a href="{{ "/interior/" | absolute_url }}">Interior</a></li>
  <li class="{% if page.url contains '/exterior/' %} active {% endif %}"><a href="{{ "/exterior/" | absolute_url }}">Exterior</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About Me</a></li>
</ul>
